.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white !important;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #e5e5e5;
  font-family: Arial, sans-serif;

}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

}

.navbar-logo-img {
  height: 50px;
  width: 120px;
}

.navbar-logo-text {
  font-weight: bold;
  font-size: 1.2rem;
  color: #6EA124; 
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s;
}

.navbar-links a.active {
  color: #6EA124; 
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-search {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 0.9rem;

  background-color: white;
  color: black;           
}

.navbar-search::placeholder {
  color: gray; 
}


.navbar-profile {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* Normal button */
.navbar-btn {
  padding: 0.2rem 1rem;
  border: 1px solid #6EA124;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  color: #6EA124;
  background: white;
  transition: all 0.3s;
}

.navbar-btn:hover {
  background: #6EA124;
  color: white;
}

/* Sign Up style */
.signup-btn {
  border: 1px solid #6EA124;
  color: #6EA124;
}

.signup-btn:hover {
  background: #6EA124;
  color: white;
}

/* Active (clicked/current route) */
.active-btn {
  background: #6EA124;
  color: white !important;
}

.signup-btn.active-btn {
  background: #6EA124;
  color: white !important;
}
